@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/animation";

.carousel {
  position: relative;
  width: min(max(50vw, 200px), 60rem);
  max-width: 500px;
  height: min(max(50vh, 200px), 60rem);
  max-height: 400px;
  z-index: 0;
 img {
   width: 100%;
   height: 100%;
   object-fit: contain;
 }
  button {
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
    position: absolute;
    top : 50%;
    opacity: 1;
    height: 30px;
    width: 30px;
    background : #f7f7f7;
    color: variables.$accent-color;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &:hover, &:active, &:focus {
    transform: scale(1.5);
    }
    svg {
      background: none;
    }
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }

}