@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/animation";

.project-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15%;
  padding: 5% 1% 0 10%;
  width: 100%;
  @media  (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 5%;
    padding: 5% 1% 10% 1%;
  }

  .project-block-carousel {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right : solid 5px variables.$secondary-color;
    padding-right: 3%;
    justify-content: space-between;
    align-items: flex-start;
    }


  .project-block-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    h2 {
      @include mixins.title-h2;
      padding-bottom: 5%;
        }
    p, ul {
      @include mixins.text;
      padding-bottom: 5%;
      font-size: clamp(0.75rem, 1.5vw, 1rem);
    }
    a {
      @include mixins.link;
    }
  }

}

