@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/animation";

.project-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //gap: 15%;
  padding: 5% 1% 0 10%;
  width: 100%;
  border-left: solid 5px variables.$secondary-color;
  border-right: solid 5px variables.$secondary-color;
  @media (max-width: 1400px) {
    flex-direction: column-reverse;
    margin-top: 40%;
  }
  @media (max-width: 768px) {
    gap: 5%;
    padding: 5% 1% 10% 1%;
  }
  @media (max-width: 600px) {
    margin-top: 0;
  }

  .project-block-carousel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 3%;
    justify-content: space-between;
    align-items: center;
  }

  .project-block-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    @media (max-width: 768px) {
      align-items: center;
    }

    .title-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 2%;
      padding-top: 2%;
      gap: 3%;
      h2 {
        @include mixins.title-h2;
        width: fit-content;
        white-space: nowrap;
      }
      .github-link:hover, &:focus-visible{
        transform: scale(1.1);
      }
    }


    p {
      @include mixins.text;
      padding-bottom: 5%;
      font-size: clamp(0.75rem, 1.5vw, 1rem);
    }

    .project-desc-list {
      @include mixins.text;
      font-size: clamp(0.75rem, 1.5vw, 1rem);
      list-style: none;
      padding-bottom: 5%;
      line-height: 1.5;
    }

    .project-skills-list {
      list-style: none;
      padding-bottom: 5%;
      display: flex;
      gap: 4%;
      flex-direction: row;
      justify-content: center;

      .skills-item {
        position: relative;
        cursor: pointer;
        &:hover .skills-icon {
          opacity: 0.3;
        }
      }

      .skills-name {
        display: none;
        font-size: 0.8rem;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        background: #b3aca7;
        white-space: wrap;
        width: fit-content;
        text-align: center;
        @include mixins.text;
      }

     .skills-item:hover .skills-name {
        display: block;
        animation: fadeIn 0.5s ease-in-out;
      }
    }
  }
}