@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/animation";

.infos-page {
  width: clamp(300px, 100%, 100vw);
  height: clamp(300px, 100%, 100vh);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5%;
  gap: 10%;
  align-items: flex-start;
  overflow: hidden;
  @media (max-width: 768px) {
    overflow: scroll;
    align-items: flex-end;
  }
  .infos-titles {
    @include mixins.title-h3;
    margin-bottom: 5px;
  }
}

  .skills-list {
    margin-right: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;

    .centered-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .skills-item {
        @include mixins.text;
        text-align: center;

        img {
          width: clamp(20px, 50%, 40px);
          height: clamp(20px, 50%, 40px);
        }
      }
    }
  }


.infos-content-skills, .infos-content-others {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  font-size: clamp(0.75rem, 2vw, 1rem);

}

