@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/animation";

.infos-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  @media (max-width: 768px) {
    overflow: scroll;
    margin-top: 5%;
  }
  .infos-titles {
    @include mixins.title-h3;
    margin-bottom: 5px;
  }
}

  .skills-list {
    margin-right: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;

    .centered-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .skills-item {
        @include mixins.text;
        text-align: center;
      }
    }
  }


.infos-content-skills, .infos-content-others {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

