@use "../styles/variables";
@use "../styles/mixins";
@use "../styles/animation";

.home {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  align-items: end;
  width: 100%;
  height: 100vh;
  @media (max-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 5%;
  }

  .homeContent {
    margin: 0 auto;
    display: inline-flex;
    height: fit-content;
    flex-direction: column;
    @media (max-width: 768px) {
      width: clamp(30vw, 80vw, 80vw); ;
    }
  }

  .homeContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: clamp(300px, 60vw, 800px);
    background-color: variables.$main-color;
    border: #131515 2px solid;
    box-shadow: rgba(0, 0, 0, 0.78) 10px 10px;
  }

  .homeContentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px 20px;
    width: clamp(300px, 60vw, 800px);
    background-color: variables.$accent-color;
    border: #131515 2px solid;
    box-shadow: rgba(0, 0, 0, 0.78) 10px 10px;
  }

  .homeContentTitle {
    @include mixins.title-h3;
    color : variables.$title-color-main;
    letter-spacing: 2px;
    line-height: 35px;
  }

  .homeText {
    @include mixins.text-bio;
    flex-direction: row;
    letter-spacing: 2px;
    line-height: 35px;
    box-sizing: border-box;
    width: clamp(300px, 60vw, 800px);
    height: fit-content;
    padding: 1% 10%;
  }
}




