@use "../../app/styles/variables";
@use "../../app/styles/mixins";
@use "../../app/styles/animation";

.carousel {
  background: variables.$main-color;
  position: relative;
  width: clamp(10em, 59.5vw, 35em);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  &:hover {
    cursor: zoom-in;
  }
}

.img {
  pointer-events: auto;
  width: fit-content;
  height: fit-content;
  object-fit: cover;
}
