@use "variables";

@mixin title-h1 {
  font-family: 'Trirong', sans-serif;
  color : variables.$title-color;
  letter-spacing: 4px;
  font-size: clamp(2rem, 3vw, 3rem);
}

@mixin title-h2 {
    font-family: 'Lato', sans-serif;
    color : variables.$title-color;
    letter-spacing: 7px;
    font-size: clamp(1rem, 3vw, 2rem);
}

@mixin text {
  font-family: 'Martel Sans', sans-serif;
  color: variables.$font-text;
  letter-spacing: 2px;
  font-size: clamp(0.5rem, 3vw, 1rem);
}

@mixin text-bio {
  font-family: 'Lato', sans-serif;
  color: variables.$font-text;
  letter-spacing: 2px;
  font-size: clamp(0.5rem, 2.5vw, 1rem);
}

@mixin text-hover {
  font-family: 'Martel Sans', sans-serif;
  color: variables.$font-text-hover;
  letter-spacing: 2px;
  font-size: clamp(0.5rem, 3vw, 1rem);
}

@mixin link {
  font-family: "Trirong", serif;
  color: variables.$font-text;
  text-decoration: none;
  font-size: clamp(0.5rem, 3vw, 1rem);
  letter-spacing: 2px;
  &:hover {
    color: variables.$font-text-hover
  }
}

@mixin  max-min-contact {
  max-width: 80%;
  min-width: 50%;
}

@mixin modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-width: 80px;
  margin: 0 auto;
  background-color: variables.$main-color;
  border-radius: 10px;
  border: black 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@mixin button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: 0.50;
  outline: 0;
  height: 30px;
  width: auto;
  text-decoration: none;
    transition: all 0.3s ease-in-out;

  &:hover, &:active, &:focus {
    opacity: 0.75;
    background: variables.$accent-color;
    color : variables.$font-text-hover;
    transform: scale(1.1);
  }
}
