@use "variables";

@mixin title {
    font-family: 'Lato', sans-serif;
  color : variables.$title-color;
  letter-spacing: 7px;
    font-size: 2rem;
}

@mixin text {
  font-family: 'Lato', sans-serif;
  color: variables.$font-text;
  letter-spacing: 2px;
  font-size: 1rem;
}

@mixin text-hover {
  font-family: 'Lato', sans-serif;
  color: variables.$font-text-hover;
  letter-spacing: 2px;
  font-size: 1rem;
}

@mixin  max-min-contact {
  max-width: 80%;
  min-width: 50%;
}


@mixin modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-width: 80px;
  margin: 0 auto;
  background-color: variables.$main-color;
  border-radius: 10px;
  border: black 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}