$main-color : #e2dedb;
$secondary-color : #b3aca7;
$third-color : #131515;
$accent-color : #647d83;

$title-color : $accent-color;
$title-color-main : #FFFFFF;
$title-color-main-hover : linear-gradient(90deg, $main-color, $secondary-color);
$font-text : $secondary-color bold;
$font-text-hover : #f7f7f7;

$breakpoint-large: 1400px;
$breakpoint-medium: 768px;
