$main-color : #e2dedb;
$secondary-color : #b3aca7;
$third-color : #131515;

$title-color : #b3aca7;
$font-text : #b3aca7 bold;
$font-text-hover : #f7f7f7 bold;


//$main-color : #647d83;
//$secondary-color : #f7f7f7;