.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  position: fixed;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-width: 80px;
  margin: 0 auto;
  background-color: #e2dedb;
  border-radius: 10px;
  border: black 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 1vw;
  width: clamp(90%, 2vw, 100%);
}
.contact-form .contact-form-fields, .contact-form form {
  max-width: 80%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form input, .contact-form textarea {
  max-width: 80%;
  min-width: 50%;
  font-family: "Lato", sans-serif;
  color: #b3aca7 bold;
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 0 0 10% 0;
  height: 50px;
  padding: 0 15px 0 15px;
  outline: none;
  background: transparent;
  border: solid 1px #b3aca7;
  border-bottom: none;
  line-height: 3em;
}
.contact-form input:hover, .contact-form textarea:hover {
  background: #b3aca7;
  color: #f7f7f7;
}
.contact-form .submit {
  border: none;
}
.contact-form .submit:hover {
  background: #b3aca7;
  color: #e2dedb;
}
.contact-form .contact-form-top {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-content: center;
  max-width: 80%;
  min-width: 50%;
}
.contact-form .contact-form-top .contact-form-title {
  font-family: "Lato", sans-serif;
  color: #b3aca7;
  letter-spacing: 7px;
  font-size: 2rem;
  max-width: 80%;
  min-width: 50%;
  font-size: clamp(1rem, 3vw, 2rem);
}

.project-block {
  display: flex;
  flex-direction: row;
  gap: 15%;
}
.project-block .project-block-carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.project-block .project-block-carousel button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: block;
  position: absolute;
  opacity: 0.35;
  outline: 0;
  height: 30px;
  width: 30px;
}
.project-block .project-block-carousel button:hover {
  opacity: 1;
}
.project-block .project-block-carousel button.prev {
  left: 10px;
}
.project-block .project-block-carousel button.next {
  right: 10px;
}
.project-block .project-block-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carousel img {
  width: 100%;
  height: auto;
}

.projects-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  float: right;
}
.projects-pages .project-block {
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #e2dedb;
}

.frame {
  border: groove #e2dedb;
  border-width: 10px 5px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
}

/*# sourceMappingURL=main.css.map */
