@use "./variables";
@use "./mixins";
@use "./animation";

@use "../components/Header/header";
@use "../components/Contact/contact";
@use "../components/Buttons/lngButtons";
@use "../pages/ProjectsPage/projectsPages";
@use "../pages/Home/home";
@use "../pages/NotFound/notfound";
@use "../pages/Legal/legal";

* {
  box-sizing: border-box;
  padding : 0;
  margin: 0;
}

body {
  @include mixins.main-background;
  margin: 0.9px;
}

.frame {
  border : solid variables.$secondary-color;
  border-width: 10px 5px;
  border-radius: 10px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom: 20px;
  margin: 20px;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  overflow: hidden;
  position: fixed;
  z-index: 4;
  box-shadow: #131515 0 0 10px ;
  display: grid;
  grid-template-columns: 20% 80%;
  @media (max-width: 768px) {
   grid-template-columns: 1fr;
   grid-auto-rows: auto auto;
  }
}

