@use "./variables";
@use "./mixins";
@use "./animation";

@use "../components/Header/header";
@use "../components/Contact/contact";
@use "../pages/ProjectsPage/projectsPages";
@use "../pages/Home/home";


* {
  box-sizing: border-box;
  padding : 0;
  margin: 0;
  background-color: variables.$main-color;
}

.frame {
  border : groove variables.$main-color;
  border-width: 10px 5px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  overflow: auto;
}