@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/animation";
@use "../../components/Project/project";
@use "../../components/Project/projectCarousel";
@use "../../pages/ProjectsPage/projectsDetails";

.projects-list-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: end;
    overflow: scroll;
}

.projects-list-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    height: 100%;

}

.projects-list-cards {
  place-self: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: clamp(300px, 70%, 500px);
  max-height: clamp(300px, 60%, 500px);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
    .project-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
    }
}

