@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/animation";
@use "../../components/Project/project";
@use "../../components/Project/projectCarousel";

.projects-pages {
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
  float: right;
  z-index: 0;
  width: 75%;
  @media  (max-width: 1400px) {
    width: 100%;
    margin-top: 60%;
  }


}