@use "../../styles/variables";

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    background-color: variables.$secondary-color;
    border-radius: 10px;
    border: aqua 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


  .contact-form-title {
    font-size: 2rem;
    font-weight: 700;
    color: variables.$title-color;
    margin-bottom: 1rem;
  }

    .contact-form-close {
      display: flex;
      align-content: flex-end;
      justify-content: flex-end;
    }
}
