@use "../../styles/variables";
@use "../../styles/mixins";

.contact-form {
    @include mixins.modal;

  .contact-form-fields, form{
    @include mixins.max-min-contact;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input, textarea {
    @include mixins.max-min-contact;
    @include mixins.text;
    margin : 0 0 10% 0;
    height: 50px;
    padding: 0 15px 0 15px;
    outline: none;
    background: transparent;
    border: solid 1px #b3aca7;
    border-bottom: none;
    line-height: 3em;

    &:hover {
      background: #b3aca7;
      color : #f7f7f7;
    }
  }

  .submit {
    border: none;
    &:hover {
      background: #b3aca7;
      color: #e2dedb;
    }
  }

  .contact-form-top {
    display : flex;
    justify-content: center;
    padding: 10px;
    align-content: center;
    @include mixins.max-min-contact;

    .contact-form-title {
      @include mixins.title;
      @include mixins.max-min-contact;
      font-size: clamp(1rem, 3vw, 2rem);
    }
  }
  }


