@use "../../styles/variables";
@use "../../styles/mixins";

header {
  position: fixed;
  z-index: 500;
  @media (max-width: 768px) {
  width: calc(100% - 100px);
  }

  .header-top-block {
    h1 {
      @include mixins.title-h1;
      .header-link {
        text-decoration: none;
        color: inherit;
        &:hover {
         font-weight: bolder;
        }
      }
    }
    p {
      @include mixins.text;
      font-size: clamp(0.8rem, 1vw, 1rem);
    }
  }

  .header-middle-block {
      ul {
        padding-top: 15px;
        li {
          list-style: none;
          padding : 5px 0;
          a, button {
            @include mixins.button;
            color : inherit;
            @include mixins.text;
          }
        }
      }
  } // End of middle block
} // End of header

// Outside of the header because it is fixed on bottom of the page, not really part of the header
.header-bottom-block {
  position: fixed;
  bottom : 2px;
  left: 25px;
  p {
    background: transparent;
    @include mixins.text;
    font-size: 10px;
  }
}