@use "../../styles/variables";
@use "../../styles/mixins";

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-top : 20px solid variables.$main-color;
  @media (max-width : 1400px) {
    width: 93%;
  }
  @media (max-width: 768px) {
  width: calc(100% - 100px);
  }

  .header-top-block {
    h1 {
      @include mixins.title-h1;
      .header-link {
        text-decoration: none;
        color: inherit;
        &:hover {
         font-weight: bolder;
        }
      }
    }
    p {
      @include mixins.text;
      font-size: clamp(0.8rem, 1vw, 1rem);
    }
  }

  .header-middle-block {
      ul {
        padding-top: 15px;
        @media (max-width: 768px) {
          display: flex;
          flex-direction: row;
          gap: 5%;
        }
        li {
          list-style: none;
          padding : 5px 0;
          a, button {
            @include mixins.button;
            color : variables.$accent-color;
            opacity: 1;
            font-weight : bold;
            @include mixins.text;
          }
        }
      }
  } // End of middle block
} // End of header

// Outside of the header because it is fixed on bottom of the page, not really part of the header
.header-bottom-block {
  position: fixed;
  bottom : 2px;
  left: 25px;
  background: none;

  button  {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0.50;
    outline: 0;
    height: 30px;
    width: auto;
    text-decoration: none;
    font-size: 65%;
    &:hover, &:active, &:focus-visible {
      opacity: 0.75;
    }
  }
}