@use "../../styles/variables";
@use "../../styles/mixins";

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  h2 {
    @include mixins.title-h2;
  }
    p {
        @include mixins.text;
    }
}